
/*Overall fixes*/
html,
body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  color: #fff;
  font-family: AndHeadLine;
}

@font-face {
    font-family: AndHeadLine;
    src: url("../assets/AndHeadlineBold.otf") format("opentype");
}

@font-face {
    font-family: FreightTextPro;
    src: url("../assets/FreightTextProBook.otf") format("opentype");
}

h1,h2,h3,h4,h5,button{
 text-transform:uppercase;
}


/*Bootstrap fixes*/

.btn:disabled{
  opacity: .35;
}

.btn{
    border-radius: 0;
    color:#fff;
}

.modal-footer .btn{
  color:#333;
}

/*Modal adjustments*/
.question-modal div{
  color: #fff;
  border:none;
  border-radius: 0;
  align-items: center;
}

.question-modal .lead{
  text-align:center;
}

.question-modal .modal-content{
  padding: 30px;
}

.question-modal .modal-footer{
    justify-content:space-around;
    align-content: stretch;
    width:100%;
}

.question-modal button{
  padding:0.5rem 2.3rem;
}


/* theme colors*/
.c1{background-color: #dc1478;}
.c2{background-color: #54b23e;}
.c3{background-color: #0072b5;}
.c4{background-color: #3e6c35;}
.c5{background-color: #c88225;}
.c6{background-color: #f89222;}
.c7{background-color: #f16121;}
.c8{background-color: #841731;}
.c9{background-color: #fcae14;}
.c10{background-color: #00a4d4;}
.c11{background-color: #ec3726;}
.c12{background-color: #ba1c2c;}
.c13{background-color: #24903f;}
.c14{background-color: #cd9525;}
.c15{background-color: #e81929;}
.c16{background-color: #17305d;}
.c17{background-color: #014b80;}
.c18{background-color: #000000;}


/* tempfix*/
.score{
  color:#333;
}
